*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hph{
    text-align: center;
}
.topic{
    margin-bottom: 5vh;
    margin-top: 2vh;
    font-family: 'Poppins';
}
.ml{
    margin-bottom: 1vh;
    color: rgb(56, 56, 56);
}
.navlinks{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3vw;
    background: rgba(255, 255, 255, 0.25);
    padding: 2vh;
    max-width: 50%;
    margin: auto auto;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}
.navlinks a{
    display: inline-block;
    text-decoration: none;
    color:black;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.5vw;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-family:'Inter';
    position: relative;

}
.left-box{
    background-color:rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}

.hero-section{
    display: flex;
    max-width: 80%;
    margin: 5vh auto;
    font-family: 'Inter';
    white-space: nowrap;   
    margin-left: 3vw;
}
.left-box,.right-box{
    flex: 1;
}
.jomle{
    max-width: fit-content;
}
.fp{
    border-radius: 50%;
    width: 40vw;
    aspect-ratio: 1/1;
    margin-top: 5vh;
    margin-left: 5vw;
 border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);}
.tip{
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color:#7180ff;
    border: solid white 1px;
    color: white;
    padding: 0 10vh;
    border-radius: 6px;
    white-space: nowrap; 

}


.wicfmain p{
    margin: 3vh;
}
.twofold{
    margin-top:3vh;
    margin-left:3vw;
}
.wicfheader{
    font-family: 'Poppins';
    width: fit-content;
    margin: 3vh auto;
    #white-space: nowrap; 
    text-align: center;  

}
.wicfmain{
      max-width: 75ch; 
      font-family: 'Inter';
      margin-top: 10vh;
      margin: auto auto; 
      line-height: 1.7; 
}
.wicfheader h1{
    position: relative;
    font-size: clamp(1rem, 4vw, 2.2rem);
}
.wicfheader h1::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}
.wicfaudio-wrapper{
    margin: auto auto;
    text-align: center;
    background: rgba(234, 12, 12, 0.1);
    backdrop-filter: blur(8px);
    border: 3px solid rgba(6, 27, 220, 0.2);
    border-radius: 15px;
    padding: 15px 20px;
    max-width: fit-content;
}
.twofold{
    padding-left:10px ;
}
.ath{
    text-align: center;
    padding-bottom: 5vh;
}
.about-topic{
    position: relative;
    font-family: 'Poppins';

}
.idn{
    padding-top: 3vh;
}
.att{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: normal;
    font-size: 1.5vw;
}
.about-main{
    padding-left: 2vw;
    font-family: 'Segoe UI';
    margin: auto auto;
    max-width: 60%;
    
}
.variables li{
    margin: 2vh;
}
.steps li{
    margin: 2vh;

}
@media(min-width:768px){
    .tip.show-element {
    opacity: 1;
    visibility: visible;

}
}

@media (max-width:768px){

    .left-box{
        font-size: 10px;
        padding: 5vw;
    }
    .about-main{
        max-width: fit-content;   
    }
    .steps,.variables{
        padding-left: 3vw;
    }
    .att{
        font-size: 4vw;
        white-space: nowrap; 
        font-family: 'Poppins';
      }
    .ath{
        margin-bottom: 3vh;
    }
    .navlinks{
        max-width: 80%;
    }

    
}
body{
    background: linear-gradient(135deg, #7180ff, #a181ff);
    background-attachment: fixed; 
}
.khl::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}
.khl{position: relative;}

body{
    color:#212636;

}
