*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hph{
    text-align: center;
}
.topic{
    margin-bottom: 5vh;
    margin-top: 2vh;
    font-family: 'Poppins';
}
.navlinks{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3vw;
    background-color: grey;
    padding-top: 2vw;
    padding-bottom:2vw;
    max-width: 80%;
    margin: auto auto;
    border-radius: 50px;
}
.navlinks a{
    display: inline-block;
    text-decoration: none;
    color:black;
    background-color:antiquewhite;
    padding: 0.5vw;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 0.3vw solid antiquewhite;
    font-family:'Inter';
    position: relative;

}
.navlinks a:hover{
    background-color:rgb(49, 49, 209);
    color: aliceblue;
    transform: scale(1.1);
    border: 0.3vw solid #333333;
}   
.hero-section{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    font-family: 'Inter';
}
.left-box,.right-box{
    flex: 1;
}
.fp{
    border-radius: 50%;
    width: 40vw;
    aspect-ratio: 1/1;
    margin-top: 5vh;
}
.tip{
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    #white-space: nowrap;   
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: #333;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.8rem;
}
.nav-button:hover .tip{
    opacity:1;
    visibility: visible;
    top: 115%;
}
