*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hph{
    text-align: center;
}
.topic{
    margin-bottom: 5vh;
}
.navlinks{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3vw;
    background-color: grey;
    padding-top: 2vw;
    padding-bottom:2vw;
    max-width: 80%;
    margin: auto auto;
}
.navlinks a{
    text-decoration: none;
    color:black;
    background-color:antiquewhite;
    padding: 0.5vw;
    border-radius: 10px;
}

